* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:#000000;
}
html,
body {
    height: 100%;
    overflow: hidden;
}
/*container*/
.container {
    padding: 40px 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1;
}

/*content*/
h1 {
    color:#ffffff;
    margin-bottom: 40px;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-size: 40px;
}
h2 {
    color: #ffffff;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-size: 24px;
}
.year {
    color: #212121;
}
.main-content {
    margin: auto 0;
}
.secondary-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 32px;
}
a:hover {
    text-decoration: line-through;
}
a {
    color:#ffffff;
    text-underline-offset: 0.3em;

}

/*circle*/
.logo-circle {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin-bottom: 40px;

  box-shadow:
    0 0 6px rgba(255, 255, 255, 0.4),
    0 0 18px rgba(255, 255, 255, 0.25),
    0 0 36px rgba(255, 255, 255, 0.15);

  /* Optional */
  background: transparent;
}


/*font*/
@font-face {
  font-family: "Inconsolata";
  src: url("./fonts/inconsolata.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
