* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:#000000;
}
html,
body {
    height: 100%;
    overflow: hidden;
}
/*container*/
.container {
    padding: 40px 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1;
}

/*content*/
h1 {
    color:#ffffff;
    margin-bottom: 40px;
}
h2 {
    color: #ffffff;
}

/*circle*/
.logo-circle {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin-bottom: 40px;

  box-shadow:
    0 0 6px rgba(255, 255, 255, 0.4),
    0 0 18px rgba(255, 255, 255, 0.25),
    0 0 36px rgba(255, 255, 255, 0.15);

  /* Optional */
  background: transparent;
}
